body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  #chatbot {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    height: 500px;
    z-index: 1000;
    display: flex;
  }
  
  #chatbot-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }
  
  #chat-header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #chat-header h1 {
    font-size: 18px;
    margin: 0;
  }
  
  #chat-container {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  #chat-history {
    margin-bottom: 15px;
  }
  
  .user-message, .bot-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 70%;
    clear: both;
    word-wrap: break-word; /* Ensure long messages wrap */
  }
  
  .user-message {
    background-color: #007BFF;
    color: white;
    float: right;
  }
  
  .bot-message {
    background-color: #e8e8e8;
    color: #333;
    float: left;
  }
  
  form {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-right: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #loader {
    display: none;
    text-align: center;
    margin-top: 10px;
  }
  
  @media (max-width: 500px) {
    #chatbot {
      width: 90%;
      bottom: 10px;
      right: 5%;
    }
  
    #chatbot-toggle {
      bottom: 10px;
      right: 5%;
    }
  }
  
  @media (max-width: 400px) {
    #chatbot {
      width: 100%;
      bottom: 0;
      right: 0;
      border-radius: 0;
      height: 100%;
    }
  
    #chatbot-toggle {
      bottom: 15px;
      right: 15px;
    }
  }
  