.hex{
    display: flex;
   column-gap: 10px;
   
}
.hex>p{
    background-color: orange;
    padding: 4px;
    border-radius: 7px;
}

.Box-art{
    border: 1px solid black;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    padding: 10px;
    
}

.box-arti{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}

.box-search{
    width: 90%;
    margin: auto;
    margin-bottom:  25px;
    

    
    
}
.box-search>span>form>input{
    width: 33vw;
    padding: 10px;
    border-radius:12px ;
    height: auto;
}


.box-search>span>form>button{
     padding: 10px 15px;
     background-color: orange;
     border-radius: 12px;
     position: relative;
     left: 15px;
     border: 1px solid white;
}

.inpr>form{
    width: 50vw;
    margin: auto;
    
}

body{
    
    font-family: "Gill Sans", sans-serif;
}


